/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*General*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}








/*Inner Box*/



.inner {
    display: flex;
    flex-flow: wrap; 
    flex-direction: row;
    left: 0;
    right: 0;
    
    font-family: 'Nanum Gothic', sans-serif;
    margin: 6% ;
 
}

.inner .box{
    color: whitesmoke;
    width: 550px;
    height: 250px;
    background-color: rgba(122, 116, 117, 0.3);
    padding: 15%;
    border: 3px solid black;
    border-radius: 20%;
}

.inner .box .content{
    color: rgb(0, 255, 98);
    font-size: 17px;
}



.box header h2{
    border-bottom: dotted 1px  white;
    padding: 5px 0;
    font-size: 30px;
}

@media screen and (max-width: 430px){
    .inner .box{width: 420px; padding: 13%;}
    /*.inner .box .content{font-size: 10px;}*/
    .box header h2{padding: auto; font-size: 25px;}
}

/*Header*/
#header{
    height: 30px;
    width: 100%;
    position: fixed;
    z-index: 1;

}


#header a{
    float: right;
    right: 15px; 
    border: 2px solid rgb(14, 0, 0);
    fill: #F64747;
    border-radius: 60%;
    margin: 0 auto;
}

/*Side Nav*/


.mySideNav{
    font-family: "Lato", sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: green;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
}

.mySideNav  a {
    padding: 25px 8px 20px 32px;
    text-decoration: none;
    border-bottom: 1px solid white;
    font-size: 40px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  .mySideNav a:hover {
    color: #818181;
  }
  
  .mySideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    border-style: none;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .mySidenav {padding-top: 15px;}
    .mySidenav a {font-size: 18px;}
  }



/*Banner*/

#banner {
    padding: 8em 0 6em 0;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(green-space.jpg);
    /*background-image: radial-gradient(circle, red, yellow, green);*/
    /*background-color: green;*/
    color: whitesmoke; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 0;
    min-height: 90vh;
    height: 90vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}

#banner a{
    flex-flow: wrap;
    flex-direction: row;
    
}

#banner h1, h2{
    font-family: 'Merienda', cursive;
}


/*instant page*/
 .more {
    justify-content: center;
    text-decoration: none;
    opacity: 0.5;
    position: relative;
    background-color: whitesmoke;
    border: solid 1px white;
    border-radius: 100%;
    height: 4em;
    width: 4em;
    line-height: 4em;
    font-size: 30px; 
}

.more:hover {
    background-color: rgb(117, 219, 86);
    border: solid 1px white;
    color: #FFF;
}




/*Content*/

#one{
    padding: 8em 0 6em 0;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    /*background-image: radial-gradient(circle, rgb(34, 1, 1), rgb(243, 97, 0), rgb(24, 36, 24));*/
    background-image: url(advenger_mask.JPG) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 0;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;    
}



#two {
    padding: 8em 0 6em 0;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-image: url(VR.jpg);
    /*background-image: radial-gradient(circle, rgb(18, 173, 235), yellow, green);*/
    /*background-color: green;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 0;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}


#three {
    padding: 8em 0 6em 0;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-image: url(videoed.png);
    /*background-image: radial-gradient(circle, orange, yellow, green);*/
    /*background-color: green;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 0;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}

/*Footer*/

#footer {
    background-color: rgb(116, 236, 4);
    color: #fdd1d1;
    padding: 6em 0 4em 0;
    background: rgb(59, 190, 99);
    font-family: 'Nanum Gothic', sans-serif;
}

    #footer input, #footer select, #footer textarea {
        color: #ffffff;
    }

    #footer a {
        color: #ffffff;
    }

    #footer strong, #footer b {
        color: #ffffff;
    }

    #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
        color: #ffffff;
    }

    #footer blockquote {
        border-left-color: rgba(255, 255, 255, 0.25);
    }

    #footer code {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
    }

    #footer hr {
        border-bottom-color: rgba(255, 255, 255, 0.25);
    }

    #footer input[type="submit"],
    #footer input[type="reset"],
    #footer input[type="button"],
    #footer button,
    #footer .button {
        background-color: #5a5a5a;
        color: #ffffff !important;
    }

        #footer input[type="submit"]:hover,
        #footer input[type="reset"]:hover,
        #footer input[type="button"]:hover,
        #footer button:hover,
        #footer .button:hover {
            background-color: #676767;
        }

        #footer input[type="submit"]:active,
        #footer input[type="reset"]:active,
        #footer input[type="button"]:active,
        #footer button:active,
        #footer .button:active {
            background-color: #4d4d4d;
        }

        #footer input[type="submit"].alt,
        #footer input[type="reset"].alt,
        #footer input[type="button"].alt,
        #footer button.alt,
        #footer .button.alt {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
            color: #ffffff !important;
        }

            #footer input[type="submit"].alt:hover,
            #footer input[type="reset"].alt:hover,
            #footer input[type="button"].alt:hover,
            #footer button.alt:hover,
            #footer .button.alt:hover {
                background-color: rgba(255, 255, 255, 0.075);
            }

            #footer input[type="submit"].alt:active,
            #footer input[type="reset"].alt:active,
            #footer input[type="button"].alt:active,
            #footer button.alt:active,
            #footer .button.alt:active {
                background-color: rgba(255, 255, 255, 0.2);
            }

            #footer input[type="submit"].alt.icon:before,
            #footer input[type="reset"].alt.icon:before,
            #footer input[type="button"].alt.icon:before,
            #footer button.alt.icon:before,
            #footer .button.alt.icon:before {
                color: #fbb5b5;
            }

        #footer input[type="submit"].special,
        #footer input[type="reset"].special,
        #footer input[type="button"].special,
        #footer button.special,
        #footer .button.special {
            background-color: #ffffff;
            color: #F64747 !important;
        }

    #footer label {
        color: #ffffff;
    }

    #footer input[type="text"],
    #footer input[type="password"],
    #footer input[type="email"],
    #footer select,
    #footer textarea {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25);
    }

        #footer input[type="text"]:focus,
        #footer input[type="password"]:focus,
        #footer input[type="email"]:focus,
        #footer select:focus,
        #footer textarea:focus {
            border-color: #ffffff;
            box-shadow: 0 0 0 1px #ffffff;
        }

    #footer .select-wrapper:before {
        color: rgba(255, 255, 255, 0.25);
    }

    #footer input[type="checkbox"] + label,
    #footer input[type="radio"] + label {
        color: #fdd1d1;
    }

        #footer input[type="checkbox"] + label:before,
        #footer input[type="radio"] + label:before {
            background: rgba(255, 255, 255, 0.075);
            border-color: rgba(255, 255, 255, 0.25);
        }

    #footer input[type="checkbox"]:checked + label:before,
    #footer input[type="radio"]:checked + label:before {
        background-color: #ffffff;
        border-color: #ffffff;
        color: #F64747;
    }

    #footer input[type="checkbox"]:focus + label:before,
    #footer input[type="radio"]:focus + label:before {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
    }

    #footer ::-webkit-input-placeholder {
        color: #fbb5b5 !important;
    }

    #footer :-moz-placeholder {
        color: #fbb5b5 !important;
    }

    #footer ::-moz-placeholder {
        color: #fbb5b5 !important;
    }

    #footer :-ms-input-placeholder {
        color: #fbb5b5 !important;
    }

    #footer .formerize-placeholder {
        color: #fbb5b5 !important;
    }

    #footer ul.alt li {
        border-top-color: rgba(255, 255, 255, 0.25);
    }

    #footer header p {
        color: #fbb5b5;
    }

    #footer table tbody tr {
        border-color: rgba(255, 255, 255, 0.25);
    }

        #footer table tbody tr:nth-child(2n + 1) {
            background-color: rgba(255, 255, 255, 0.075);
        }

    #footer table th {
        color: #ffffff;
    }

    #footer table thead {
        border-bottom-color: rgba(255, 255, 255, 0.25);
    }

    #footer table tfoot {
        border-top-color: rgba(255, 255, 255, 0.25);
    }

    #footer table.alt tbody tr td {
        border-color: rgba(255, 255, 255, 0.25);
    }

    #footer .innerfoot {
        margin: 0 auto;
    }

    #footer h2 {
        margin-bottom: 2em;
        text-align: center;
    }

    #footer .icons {
        text-align: center;
        padding: 1em 0;
    }

    #footer .copyright {
        color: rgba(128, 16, 255, 0.5);
        font-size: 0.8em;
        margin: 0 0 2em 0;
        padding: 0;
        text-align: center;
    }

    #footer .icon.round {
        display: block;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 100%;
        height: 4em;
        width: 4em;
        line-height: 4em;
        color: #FFF;
    }

        #footer .icon.round:hover {
            color: rgba(255, 255, 255, 0.25);
            background: none;
            box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
        }

    @media screen and (max-width: 736px) {

        #footer {
            padding: 3em 0 1em 0;
        }

    }

    /* Form */

	form {
        margin: 0 0 2em 0;
        padding: 0 70px;
	}

		form .field {
			margin-bottom: 1.5em;
		}

			form .field.half {
				display: inline-block;
				width: 48%;
			}

				form .field.half.first {
					margin-right: 3%;
				}

		@media screen and (max-width: 980px) {

			form .field.half {
				display: block;
				width: 100%;
			}

				form .field.half.first {
					margin-right: 0;
				}

		}

	label {
		display: block;
		font-size: 0.9em;
		font-weight: 300;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 4px;
		border: none;
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			content: '\f078';
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 300;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border-radius: 4px;
				border: solid 1px;
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			content: '\f00c';
		}

	input[type="checkbox"] + label:before {
		border-radius: 4px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	:-moz-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
	}

	.formerize-placeholder {
		opacity: 1.0;
	}

	label {
		color: #fff;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		background: rgba(144, 144, 144, 0.075);
		border-color: rgba(144, 144, 144, 0.25);
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #F64747;
			box-shadow: 0 0 0 1px #F64747;
		}

	.select-wrapper:before {
		color: rgba(144, 144, 144, 0.25);
	}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		color: rgba(255, 255, 255, 0.75);
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			background: rgba(144, 144, 144, 0.075);
			border-color: rgba(144, 144, 144, 0.25);
		}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		background-color: #F64747;
		border-color: #F64747;
		color: #ffffff;
	}

	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
		border-color: #F64747;
		box-shadow: 0 0 0 1px #F64747;
	}

	::-webkit-input-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
	}

	:-moz-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
	}

	::-moz-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
	}

	:-ms-input-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
	}

	.formerize-placeholder {
		color: rgba(255, 255, 255, 0.5) !important;
	}

/* Icon */

	.icons {
		text-decoration: none;
		border-bottom: none;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-flow: wrap;
         margin-right: 10px;
        padding: 0 20px; 
	}

		.icons:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
        }
        


		.icons > .label {
            display: none;
            
		}




/*Modal box*/

/* MODAL CLASSES */

.modal-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    
  }
  
  .modal-container.active {
    display: block;
    
  
  }
  
  .modal-container .modal-content {
    background-color: rgb(22, 209, 38);
    width: 300px; 
    margin: 0 auto;
    padding: 95px;
    font-family: 'Open Sans', sans-serif;

  
  }
  
  .modal-container .modal-content .modal-close-btn {
    float: right;
  }
  
  .vertical-center-position {
    /* helper methoid to vertically align the center modal content */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }